#content {
    margin: 0px 0px 2px 0px;
}

#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 10px;
    margin: 0px 0px 2px 0px;
    width: 100%;
}
#submenu {
    position: relative;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 0px 0px 0px 0px;
//    width: 100%;
    vertical-align: central;
}
#footer {
    position: relative;
    background-color: #c2dfef;
    padding: 10px;
    margin: 2px 0px 0px 0px;
//    width: 100%;
}
#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : none;
}
.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 10px;
//    width: 100%;
    overflow: auto;
}

// nieużywane style  
#left {
    float: left;
    background-color: #036fab;
    padding: 5px;
    width: 150px;
    
}
#right {
    float: right;
    //text-align: right; 
    //background-color: #ece3a5;
    //padding: 10px 10px;
    //width: 400px;
}
.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}
.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
html {
    overflow-x: hidden;
}





